
body{
    background-color:rgba(167, 161, 161, 0.801);

}
p{
    color:black;
    font-style: italic;

}
table ,tr,td {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background: cornflowerblue;
    border: 3px solid green;
    text-align: center;

}